:root {
  --primary-blue: hsl(223, 87%, 63%);
  --pale-blue: hsl(223, 100%, 88%);
  --light-red: hsl(354, 100%, 66%);
  --gray: hsl(0, 0%, 59%);
  --neutral-dark-blue: hsl(209, 33%, 12%);
  --primary-font: 'Libre Franklin', sans-serif;
  --font-size: 20px;
}

/* Hidden class for accessibility */
.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

body {
  font-family: var(--primary-font);
  font-weight: 700;
  display: grid;
  grid-template-rows: 1fr auto;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 375px;
  padding: 0 1.75rem;
  /* margin-top: 2.5rem;
  margin-bottom: 2.5rem; */
}

@media (min-width: 1000px) {
  .container {
    width: 920px;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}

header,
h3 {
  margin-bottom: 2rem;
}

h2 {
  margin-bottom: 1rem;
}

form {
  margin-bottom: 4.5rem;
}

.img-container {
  min-width: 320px;
  margin-bottom: 7.5rem;
}

ul {
  margin-bottom: 2.25rem;
}

.fm-byline-row {
  margin-top: 1rem;
}

.fm-byline {
  font-size: 0.75rem;
  letter-spacing: 1px;
  line-height: 1.5;
  text-align: center;
}

.fm-byline,
.fm-byline a {
  color: hsl(228, 45%, 44%);
}
